[package]
name = "opa-wasm"
version = "0.1.0"
rust-version = "1.60"
authors = ["Quentin Gliech <quenting@element.io>"]
edition = "2021"
license = "Apache-2.0"
default-run = "opa-eval"

[dependencies]
anyhow = "1.0.57"
serde = { version = "1.0.57", features = ["derive"] }
serde_json = "1.0.57"
thiserror = "1.0.31"
tokio = { version = "1.18.2", features = ["sync", "macros"] }
tracing = "0.1.34"
wasmtime = "0.38.0"

# CLI
clap = { version = "3.1.18", features = ["derive"], optional = true }
tracing-forest = { version = "0.1.4", optional = true }
tracing-subscriber = { version = "0.3.11", features = ["env-filter"], optional = true }

# Builtins
base64 = { version = "0.13.0", optional = true }
digest = { version = "0.10.3", optional = true }
hex = { version = "0.4.3", optional = true }
hmac = { version = "0.12.1", optional = true }
json-patch = { version = "0.2.6", optional = true }
md-5 = { version = "0.10.1", optional = true }
semver = { version = "1.0.9", optional = true }
sha1 = { version = "0.10.1", optional = true }
sha2 = { version = "0.10.2", optional = true }
sprintf = { version = "0.1.2", optional = true }

[dev-dependencies.tokio]
version = "1.18.2"
features = ["macros", "rt"]

[features]
default = ["all-builtins"]

cli = [
  "dep:clap",
  "dep:tracing-forest",
  "dep:tracing-subscriber",
  "tokio/fs",
  "tokio/rt-multi-thread",
]

base64url-builtins = ["dep:base64", "dep:hex"]
crypto-digest-builtins = ["dep:digest", "dep:hex"]
crypto-hmac-builtins = ["dep:hmac"]
crypto-md5-builtins = ["dep:md-5"]
crypto-sha1-builtins = ["dep:sha1"]
crypto-sha2-builtins = ["dep:sha2"]
hex-builtins = ["dep:hex"]
semver-builtins = ["dep:semver"]
sprintf-builtins = ["dep:sprintf"]
json-builtins = ["dep:json-patch"]

all-crypto-builtins = [
  "crypto-digest-builtins",
  "crypto-hmac-builtins",
  "crypto-md5-builtins",
  "crypto-sha1-builtins",
  "crypto-sha2-builtins",
]

all-builtins = [
  "all-crypto-builtins",
  "base64url-builtins",
  "hex-builtins",
  "json-builtins",
  "semver-builtins",
  "sprintf-builtins",
]

[[bin]]
name = "opa-eval"
required-features = ["cli"]

[[bin]]
name = "simple"
required-features = ["cli"]
